@tailwind base;
@tailwind components;
@tailwind utilities;

body,html,#root{
    height: 100%;
}


body{
    background-color: #fff8ee;
    font-family: "Grandstander Variable";
    font-display: swap;
    
}

.test{
    background-color: #b69989;
}